<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.mapper.UserMapper">
	
	<!-- 实体类属性与数据库表字段不一致时，可以在这儿指定 -->
	<resultMap id="userResultMap" type="User">
		<id  property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="birthday" column="birthday"/>
		<result property="address" column="address"/>
		<result property="deleteFlag" column="delete_flag"/>
	</resultMap>

	<!-- 小东西，可以简化开发 -->
	<sql id="allColumns">
		id, name, age, birthday, address, delete_flag
	</sql>
	
	<!--
		id:sql的唯一标示 
	    parameterType:参数类型 
	    resultType:结果类型
	    resultMap:返回为map需要前面指定

	    如果入参为1个参数，可以不用写入参类型
 		如：parameterType="long" 可以省略
	-->
	<select id="queryById" resultMap="userResultMap"><!-- resultType="User" -->
		select 
		<include refid="allColumns"/> 
		from m_user where id = #{id};
	</select>

	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="User"><!-- parameterType="hashmap" -->
		insert into m_user(id, name, age, birthday, address, delete_flag) 
		values(#{id}, #{name}, #{age}, #{birthday}, #{address}, 1);
	</insert>

</mapper>